@import "/src/assets/css/common-variables.scss";

* {
  font-family: $font-family-base;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

h1 {
  color: $text-primary-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-spinner {
  margin: auto;
}

.error {
  color: red;
}
